{% extends "base_bulma_no_analytics.html" %}

{% block content %}

<body>
    <div class="container is-fluid">
            <br />
            <a class="button is-primary" href='\search'>Tilbage</a>
            <br /><br />
            <h4 class="title is-4 is-spaced"style="margin-bottom: 0rem">Email-support</h4>
            Ris, ros og forslag modtages med glæde.<br /><br />
            Skriv til Børnebasens emailsupport på <a href="mailto:info@boernebasen.dk">info@boernebasen.dk</a>.
            <br /><br />
            <h4 class="title is-4 is-spaced">Telefon-support</h4>
            Børnebasens telefonsupport 42 57 07 44 er åben alle hverdagen fra 9.00 til 16.00.
    </div>
</body>
{% endblock %}