{% extends 'base_bulma.html'%}
{% block content %}

<body>
    <div class="container is-fluid">
        <!-- Grey with black text -->
        <br />

        <h1>Email support</h1>
        Ris, ros og forslag modtages med glæde.<br /><br />
        Skriv til Børnebasens emailsupport på <a href="mailto:mail@boernebasen.dk">mail@boernebasen.dk</a>
        <br /><br />
        <h1>Telefon support</h1>
        Børnebasens telefonsupport 42 57 07 44 er åben alle hverdagen fra 9.00 til 16.00.
    </div>
</body>
{% endblock %}