{% extends "base.html" %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}

{% if next %}
    {% if request.user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<br /><br />
<div class="row">
  <div class="col">
    <div class="logo">
      <div class="text-center">
        <a href="http://boernebasen.dk">
          <img src="{% static 'logo_bornebasen_black.png' %}" style="margin-top: 20px;" width="400">
        </a>
      </div>
    </div>
  </div>
</div>


<br />
<br /><br />
<div class="container text-center">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <form method="post">
          {% csrf_token %}
          {% if validlink %}
          <h2> Indtast ny adgangskode </h2>
          Indtast venligst din nye adgangskode to gange, så vi kan være sikre på, at den er indtastet korrekt.
          <br /><br />
          <div class="form-group">
            {% csrf_token %}
            <p>{{ form.new_password1 }}</p>
            <p>{{ form.new_password2 }}</p>
          </div>
          <input type="submit" class="btn btn-lg form-control text-center" width="1px%";
          style="background-color:#9bd6ca!important;color:#fff;font-weight:bold;box-shadow:none;margin:0;" value="Skift min adgangskode">
          <input type="hidden" name="next" value="{{ next }}" >
          {% if form.errors %}
            <br><br>
            <div class="alert alert-dark">
              <p>Forkert brugernavn eller kodeord indtastet.</p>
            </div>
          {% endif %}
        </form>
        {% else %}
          <p> Dit link fungerede ikke længere. Gå til <a href="{% url 'password_reset' %}"> Nulstil password</a> for at få et nyt link.
        {% endif %}
            <div><br />
              <hr /><br />
              <a href="{%url 'login' %}" style="color: black !important;"> Tilbage til login </a>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div> <!-- /row -->
</div>

{% endblock %}
