{% extends "base.html" %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}

{% if next %}
    {% if request.user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<br /><br />
<div class="row">
  <div class="col">
    <div class="logo">
      <div class="text-center">
        <a href="http://boernebasen.dk">
          <img src="{% static 'logo_bornebasen_black.png' %}" style="margin-top: 20px;" width="400">
        </a>
      </div>
    </div>
  </div>
</div>


<br />
<br /><br />
<div class="container text-center">
    <div class="row">
      <div class="col-sm">
          <h2> Nulstilling af kodeord sendt </h2>
          <p>
            Vi har sendt dig en e-mail med instruktioner for at indstille din adgangskode, hvis en konto med den angivne e-mail-adresse findes. Du burde modtage den snarest.
          </p>

          <p>
            Hvis du ikke modtager en e-mail, så tjek venligst, at du har indtastet den e-mail-adresse, du registrerede dig med, og tjek din spam-mappe.
          </p>

            <div><br />
              <a href="{%url 'login' %}" style="color: black !important;"> Tilbage til login </a>
            </div>
        </div>
    </div> <!-- /row -->
</div>

{% endblock %}
